body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-size: 5em;
}
h2 {
  text-align: center;
  font-size: 3em;
}
h4 {
  text-align: center;
  font-size: 1.2em;
  text-transform: capitalize;
}
#main {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #3f51b5;
}

/* General sidebar styles */
.bm-menu {
  background: #6a80ff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-menu-wrap ::-webkit-scrollbar {
    display: none;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #6a80ff;
}

/* Wrapper for item list */
.bm-item-list {
  color: #fff;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.home-image {
  display: block;
  margin: 0 auto;
}
.paper {
  padding: 20px;
}
.table-product {
  text-align: left;
  margin: auto;
}
.input-range {
  width: 60%;
  margin: 20px;
}
.paper-collapse {
  padding: 20px;
  border: 1px solid #4257b5;
  margin-top: 20px;
}
.paper-collapse b {
  text-align: center;
}
/* Responsive */
@media (max-width: 700px) {
  h1 {
    font-size: 3em;
  }
  .home-image {
    width: 100%;
  }
}
